version: '3.9'
services:
  website-search:
    image: node:20-alpine
    command:
      node /app/proxy-search.js
    tty: true
    ports:
      - 5700:5700
    working_dir: /app/
    volumes:
      - .:/app/
    restart: always
    network_mode: host

  website-docusaurus:
    image: node:20-alpine
    command: sh -c "npx docusaurus serve --host 0.0.0.0 --port 3000 --no-open"
    tty: true
    ports:
      - 3000:3000
    working_dir: /app/
    volumes:
      - .:/app/
    restart: always
    network_mode: host
    environment:
      - NODE_OPTIONS=--max-old-space-size=512

