name: deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: reset
        working-directory: /www/website/
        run: git reset --hard && rm -rf /www/website/.docusaurus
      - name: pull
        working-directory: /www/website/
        run: git reset --hard && git pull
      - name: setup env and install
        working-directory: /www/website/
        run: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          export TMPDIR="$HOME/tmp"
          mkdir -p "$TMPDIR"
          nvm use
          export PNPM_HOME="$HOME/.local/share/pnpm"
          if ! command -v pnpm &> /dev/null; then
            curl -fsSL https://get.pnpm.io/install.sh | sh -
          fi
          case ":$PATH:" in
            *":$PNPM_HOME:"*) ;;
            *) export PATH="$PNPM_HOME:$PATH" ;;
          esac
          pnpm install
      - name: restart
        working-directory: /www/website/
        run: chmod +x restart.sh && ./restart.sh
