name: deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: /www/website/
    steps:
      - name: pull latest code
        run: |
          git reset --hard
          git pull
      - name: restart search service
        run: |
          chmod +x ./restart.sh
          ./restart.sh
      - name: reload nginx
        run: |
          sudo nginx -t && sudo nginx -s reload
