name: deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: reset
        working-directory: /www/website/
        run: git reset --hard && rm -rf /www/website/.docusaurus
      - name: pull
        working-directory: /www/website/
        run: git reset --hard && git pull
      - name: setup env and install
        working-directory: /www/website/
        run: |
          chmod +x _setup-env.sh
          source ./_setup-env.sh
          pnpm install
      - name: restart
        working-directory: /www/website/
        run: chmod +x restart.sh && ./restart.sh
