name: deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: /www/website/
    steps:
      - name: pull latest code
        run: |
          git reset --hard
          git pull
          rm -rf .docusaurus
      - name: install dependencies
        run: |
          source ./setup-env.sh
          pnpm install
      - name: build site
        run: |
          source ./setup-env.sh
          rm -rf public_new
          pnpm run build
          mv public public_new
      - name: atomic deploy
        run: |
          rm -rf public_old
          [ -d "public" ] && mv public public_old
          mv public_new public
          rm -rf public_old
      - name: restart services
        run: ./restart.sh
